@font-face{
  font-family: ftlStyleSlim;
  src: url('./fonts/JustinFont8.ttf')
}
@font-face{
  font-family: ftlStyle;
  src: url('./fonts/JustinFont11Bold.ttf')
}

::-webkit-scrollbar{
  border: none
}
::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  background-clip: padding-box;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-button:single-button {
  background-color: transparent;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #e5e5e5 transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #3a7fff transparent;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #e5e5e5 transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #3a7fff transparent transparent transparent;
} 


.eventBox {
  margin: 30px 0 0 30px;
  position: relative;
  width: 800px;
  box-shadow: 0 0 15px #3a7fff;
  background-image: url('./img/background_dot.png');
}
.corners {
  height: 450px;
  border: 3px solid #fff;
}
.eventBox:before,
.eventBox:after,
.corners:before,
.corners:after {
  position: absolute;
  background: #fff;
  content: " ";
  display: block;
  height: 30px;
  width: 30px;
   border-left: 3px solid #fff;
  box-shadow: inset 14px 0 15px -15px #3a7fff;
}
.eventBox:before {
     left: -16px;
     top: -14px;
    transform: rotate(-135deg);  
}
.eventBox:after {
    right: -16px;
    top: -14px;
    transform: rotate(-45deg); 
}
.corners:before {
    left: -16px;
    bottom: -14px;
    transform: rotate(135deg); 
}
.corners:after {  
    right: -16px;
    bottom: -14px;
    transform: rotate(45deg);
}

.xmlinput{
  display: grid; 
  margin: 5em;
  width: 700px;
  height: 300px;
}
#eventEmuInput{
 
}



.main_event{
  color: #f5f5f5;
  font-family: ftlStyle;
  font-size: 21px;
  margin: 18px 25px 0 25px;
  word-wrap: break-word;
  overflow-y: scroll;
  height: 425px;
}

li:hover {
  color: #ff0;
  cursor: pointer;
}

li+li {
  margin-top: 15px;
}

ol{
  margin-top: 70px;
}

.message{
  background-color: #474343;
  border: 2px solid white;
  font-size: 22px;
  position: relative;
  display: inline-block;
  margin: 15px auto 0 auto;
  font-family: ftlStyleSlim;
  text-align: center;
  padding: 5px 10px 5px 10px;
  left: 50%;
  transform: translateX(-50%);
}
.choiceMessage{
  background-color: #474343;
  border: 2px solid white;
  font-size: 22px;
  position: relative;
  display: inline;
  left: 270px;
  bottom: 22px;
  font-family: ftlStyleSlim;
  padding: 5px 10px 5px 10px;
}

.autoreward{
  margin: 0 autp;
  display: flex;
  justify-content: center;
  color: #ededed;
  padding: 3px 3px 5px 3px;
  word-wrap: normal;
}
.autoreward img{
  margin: 5px 3px -3px 2px;
  image-rendering: pixelated;
}
.autoreward img[src="./img/scrap_plus.png"],
.autoreward img[src="./img/fuel_plus.png"],
.autoreward img[src="./img/missile_plus.png"],
.autoreward img[src="./img/drone_plus.png"]{
  width: 32px;
  height: 32px;
}
.autoreward img[src="./img/weapon_placehold.png"]{
  width: 47px;
  height: 16px;
}
.autoreward img[src="./img/drone_placehold.png"]{
  width: 64px;
  height: 64px;
}

.board{
  color: red;
}


.eventCtrl{
  border: 1px solid black;
  display: block;
  width: 200px;
  height: 400px;
  position: absolute;
  left: 880px;
  bottom: -980px;
  font-family: ftlStyleSlim;
  font-size: 30px;
}
.eventCtrl>.ectext{
  text-align: center;
  font-weight: bold;
  color: green;
}