@font-face{
  font-family: ftlStyleSlim;
  src: url('/fonts/c&cnew.ttf')
}
@font-face{
  font-family: ftlStyle;
  src: url('/fonts/JustinFont11Bold.ttf')
}

/* =========event box======== */

.root {
  font-size: 15px;
}

.eventBox {
  margin: 2em 0 0 2em;
  position: relative;
  width: 53em;
  box-shadow: 0 0 15px #3a7fff;
  background-image: url('/img/background_dot.png');
}
.corners {
  height: 30em;
  border: 3px solid #fff;
}
.eventBox:before,
.eventBox:after,
.corners:before,
.corners:after {
  position: absolute;
  background: #fff;
  content: " ";
  display: block;
  height: 2em;
  width: 2em;
  border-left: 3px solid #fff;
  box-shadow: inset 14px 0 15px -15px #3a7fff;
}
.eventBox:before {
  left: -16px;
  top: -14px;
  transform: rotate(-135deg);  
}
.eventBox:after {
  right: -16px;
  top: -14px;
  transform: rotate(-45deg); 
}
.corners:before {
  left: -16px;
  bottom: -14px;
  transform: rotate(135deg); 
}
.corners:after {  
  right: -16px;
  bottom: -14px;
  transform: rotate(45deg);
}

/* ========xml input======== */
.xmlinput{
  margin: 3em;
  width: 53em;
  display: inline-block;
}
#eventEmuInput {
  resize: none;
  width: 100%;
  height: 30em;
  overflow-x: scroll;
}

.xmlErr {
  width: calc(100% - 2em);
  padding: 1em;
  border: 2px solid black;
  font-family: monospace;
}
.xmlErr > .e {
  color: red;
  background: rgba(255, 85, 0, 0.212);
  font-weight: bold;
}
.xmlErr > .lnCol {
  color: #1017e6;
  background: rgba(250, 255, 99, 0.498);
}

/* load xml */
.xmlControl {
  display: inline-block;
  height: 30em;
  width: 20em;
  position: relative;
  bottom: 20em;
  padding: 2em;
  overflow: scroll;
}
.xmlControl>.reload {
  background-color: #967070;
  border: 2px solid #7c75c2;
  color: #e5e5e5;
  font-size: 1.5em;
  font-family: ftlStyleSlim;
  text-align: center;
  padding: 0.5em;
  width: 100%;
}
.xmlControl>.reload:hover{
  background-color: #96707066;
  border: 2px solid #1500ff;
  cursor: pointer;
}
.xmlControl>.entryPoint {
  display: block;
  background-color: #967070;
  margin: 0.5em auto;
  border: 2px solid #7c75c2;
  color: #e5e5e5;
  font-size: 1.5em;
  font-family: ftlStyleSlim;
  text-align: center;
  padding: 0.3em 0.5em;
}
.xmlControl>.entryPoint.selected {
  background-color: #96707066;
  border: 2px solid #1500ff;
  box-shadow: 0 0 10px #1500ff;
  color: #474343;
}
.xmlControl>.entryPoint:hover{
  background-color: #96707066;
  border: 2px solid #1500ff;
  cursor: pointer;
}

/* ==========main event========= */
.main_event{
  color: #f5f5f5;
  font-family: ftlStyle;
  font-size: 21px;
  margin: 1em 1.5em;
  word-wrap: break-word;
  overflow-y: scroll;
  height: 21em;
}

/* scroll bars */
.main_event::-webkit-scrollbar{
  border: none
}
.main_event::-webkit-scrollbar-thumb {
  background-color: #e5e5e5;
  background-clip: padding-box;
}
.main_event::-webkit-scrollbar-track {
  background-color: transparent;
}
.main_event::-webkit-scrollbar-button:single-button {
  background-color: transparent;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
.main_event::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #e5e5e5 transparent;
}
.main_event::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #3a7fff transparent;
}
.main_event::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #e5e5e5 transparent transparent transparent;
}
.main_event::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #3a7fff transparent transparent transparent;
} 


.main_event>.text{
  white-space: pre-wrap;
  word-wrap: break-word;
}

.main_event>.text.error {
  color: rgb(255, 145, 0);
  background-color: rgba(255, 85, 0, 0.212);
  display: block;
  padding: 0.5em 0;
}

.main_event li:hover {
  color: #ff0;
  cursor: pointer;
}

.choices > li {
  margin: 1em 0;
}

.choices{
  margin-top: 4em;
}



.message{
  background-color: #474343;
  border: 2px solid white;
  font-size: 22px;
  position: relative;
  display: inline-block;
  margin: 15px auto 0 auto;
  font-family: ftlStyleSlim;
  text-align: center;
  padding: 5px 10px 5px 10px;
  left: 50%;
  transform: translateX(-50%);
}
.choiceMessage{
  background-color: #474343;
  border: 2px solid white;
  font-size: 22px;
  position: relative;
  display: inline;
  left: 270px;
  bottom: 22px;
  font-family: ftlStyleSlim;
  padding: 5px 10px 5px 10px;
}

.autoreward{
  margin: 0 autp;
  display: flex;
  justify-content: center;
  color: #ededed;
  padding: 3px 3px 5px 3px;
  word-wrap: normal;
}
.autoreward img{
  margin: 5px 3px -3px 2px;
  image-rendering: pixelated;
}
.autoreward img[src="/img/scrap_plus.png"],
.autoreward img[src="/img/fuel_plus.png"],
.autoreward img[src="/img/missile_plus.png"],
.autoreward img[src="/img/drone_plus.png"]{
  width: 32px;
  height: 32px;
}
.autoreward img[src="./img/weapon_placehold.png"]{
  width: 47px;
  height: 16px;
}
.autoreward img[src="./img/drone_placehold.png"]{
  width: 64px;
  height: 64px;
}

.board{
  color: red;
}



.eventCtrl{
  border: 1px solid black;
  display: block;
  width: 200px;
  height: 400px;
  position: absolute;
  left: 880px;
  bottom: -980px;
  font-family: ftlStyleSlim;
  font-size: 30px;
}
.eventCtrl>.ectext{
  text-align: center;
  font-weight: bold;
  color: green;
}