body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* =================================TABS================================= */
.tabs{
  width: 100%;
  height: 3em;
  background-color: #c6c6c6;
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.tabs .tab{
  border: 2px solid blue;
  padding: 10px;
  display: inline;
  margin: 5px;
  position: relative;
  top: 18px;
}
.tabs .tab:hover{
  background-color: #37afff;
  cursor: pointer;
}
.tabOpen{
  box-shadow: 0 0 10px 5px #37afff;
  background: #37afff44;
}

.tabs .btns {
  grid-column-start: 2;
}
.tabs .menus {
  grid-column-start: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* =================================MENUS================================= */
.menus {
  position: relative;
}
.menus>div>button {
  all: unset;
  display: block;
  position: relative;
  bottom: 10px;
  padding: 1em;
  margin: .5em;
}
.menus>div>button:hover {
  background-color: #37afff44;
  cursor: pointer;
  box-shadow: 0 10px 5px -5px #37afff;
}
.menus>div>.close {
  display: none;
  position: relative;
  top: 15em;
}
.menus>div>ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 3.4em;
  border: 2px solid black;
  width: 10em;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.editor>ul {
  width: 11em !important;
  background-color: #c6c6c6;
}
.editor>ul>li {
  position: relative;
}
.editor>ul>li>label {
  font-size: 1.2em;
  display: inline-block;
  width: 90%;
  text-align: center;
  position: absolote;
}
.editor>ul>li>label:hover {
  background-color: #37afff;
}
.editor input[type=checkbox] {
  margin: 0;
}

.menus>div>ul>li>button {
  width: 100%;
  padding: 1em;
  margin: 2p;
  background-color: #c6c6c6;
  border: none;
}
.menus>div>ul>li>button:hover {
  background-color: #37afff;
}



/* =================================BLOCKS================================= */
#blocksAreasWrapper {
  width: 90vw;
  margin: auto;
}
textarea#outputArea {
  width: 100%;
  height: 500px;
  border: 2px solid green;
  resize: none;
  margin-top: 1em;
}
#blocklyDiv {
  height: 915px;
  border: 2px solid red;
}


.buttonsWrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  width: 90vw;
  margin: auto;
  padding-bottom: 3em;
}

#loadBlocks{
  display: none;
}
#saveAsBlocks,#saveOutput,.loadBlocksFile {
  padding: 20px 100px 20px 100px;
  border: 2px solid orange;
  text-align: center;
  background-color: #c6c6c6;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}
#saveAsBlocks:hover,#saveOutput:hover,.loadBlocksFile:hover {
  background-color: rgb(255, 206, 114);
}



.categoryBubble {
  width: 90%;
  border-radius: 0;
  border: none;
  height: 5px;
}

.hsSeparator{
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 5px 0 5px 0;
  height: 2em;
  border-bottom: 3px solid black;
  border-top: 3px solid black;;
  text-align: center;
  background: rgba(58, 127, 255, 0.5);
}
.hsSeparator::after{
  content: "Hyperspace\ATags";
  white-space: pre;
  color:rgb(0, 26, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}